/* Font Import */
@import 'https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans|Raleway:300,400,700';
/* Variables */
$darkgrey: #292929;
$lightgrey: #F5F5F5;
$lightblue: #43a7c7;
$grey: #666666;
/* Global Styles */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: $darkgrey;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', Helvetica, serif;
    letter-spacing: 0.8px;
}

p {
    line-height: 1.8;
    letter-spacing: 0.5px;
}

a {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    color: $lightblue;
    opacity: 0.5;
    transition: 0.3s ease all;
}

a:hover {
    opacity: 1;
}


.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.col-full {
    width: 100%;
    float: left;
}

.col-half {
    width: 50%;
    float: left;
}

.col-third {
    width: 33.33%;
    float: left;
}

.col-two-third {
    width: 66.66%;
    float: left;
}

.row {
    min-height: 1px;
    padding: 0 10px;
}

.row:after,
.row:before {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.cf:after,
.cf:before {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}



/* Navigation Styling */
nav.main {
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

nav.main ul {
    margin: 0 40px 0 0;
}

nav.main li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

nav.main a {
    color: $lightgrey;
    opacity: 0.7;
    text-decoration: none;
    font-size: 12px;
    transition: 0.3s all ease;
    text-transform: uppercase;
}

nav.main a:hover {
    opacity: 1;
}

/* Sub Page Navigation */

nav.sub_pages {
    width: 100%;
    height: 80px;
    background-color: transparent;
    border-bottom: 1px solid $grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
}

nav.sub_pages ul {
    margin: 0 40px 0 0;
}

nav.sub_pages li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

nav.sub_pages a {
    color: $grey;
    opacity: 1;
    text-decoration: none;
    font-size: 12px;
    transition: 0.3s all ease;
    text-transform: uppercase;
}

nav.sub_pages a:hover {
    opacity: 0.7;
}

/* Hero Section Styling */

section.hero {
    height: 95vh;
    background: linear-gradient(90deg, rgba(0,0,0, .8), rgba(0,0,0,.6)), url('../images/hero_bg.jpg');
    background: -webkit-linear-gradient(90deg, rgba(0,0,0, .8), rgba(0,0,0,.6)), url('../images/hero_bg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.hero {
    font-size: 40px;
}

p.hero_description {
    max-width: 800px;
    text-align: center;
}
/* Main Content Styling */
main {
    padding: 30px 0;
}

img.portrait {
    max-width: 100%;
}

ul.social_media{
  padding: 0;
  li{
    list-style: none;
  }
}

/* Blog Post Styling */

button.blog_read_more{
  width: 120px;
  padding: 10px;
  border: 1px solid $lightblue;
  background-color: transparent;
  color: $lightblue;
  font-family: 'Raleway', sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all ease .3s;
}

button.blog_read_more:hover{
  color: $lightgrey;
  background-color: $lightblue;
}

h2.blog_title{
  margin-bottom: 0;
}

p.blog_date{
  color: $lightblue;
  padding: 0;
  margin-top: 0;
}







hr{
  width: 20%;
  margin-top: 40px;
  margin-bottom: 20px;
  height: 1px;
  background-color: $grey;
  border: none;

}

/* Footer Styling */
footer {
    height: 200px;
    width: 100%;
    padding: 30px 0;
    background-color: $darkgrey;
    color: $lightgrey;
    font-size: 0.8em;
}

.footer_left, .footer_right{
  padding: 0 10px;
}
.footer_left{
  width: 50%;
  display: inline-block;
}

.footer_right{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  float: right;
  height: 120px;
}

#twitter-widget {
    width: 100%;
}

#twitter-widget ul {
    list-style: none;
    padding: 0;
}
/* Responsive */

@media (min-width:768px){
  /* Make footer stay at bottom */

  .bottom_footer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main{
    flex:1;
  }
}

@media (max-width:768px) {
    .col-half,
    .col-third,
    .col-two-third {
        width: 100%;
    }

    footer {
        height: 100%;
        padding: 0 20px;
    }
    .row {
        padding: 0 20px;
    }
    .footer_right,.footer_left{
      width: 100%;
      padding: 0;
    }
    .footer_right{
      height: 50px;
      justify-content: center;
      margin-top: 20px;
      opacity: .2;
    }
}

@media (max-width:560px) {

    nav.main, nav.sub_pages {
        justify-content: center;
    }

    nav.main ul {
        padding: 0;
        margin: 0;
    }
    nav.sub_pages ul {
        padding: 0;
        margin: 0;
    }

    nav.main li{
        margin: 0;
        padding: 10px;
    }
    nav.sub_pages li{
        margin: 0;
        padding: 10px;
    }

    h1.hero {
        text-align: center;
    }
}
